Use case four works!!!!!!!!!!!!!!!!!!!!!!



<!-- <div class="container">
    <div class="row justify-content-end">
        <div class="col-4">
            Column - 1
        </div>
        <div class="col-4">
            Column - 2
        </div>
    </div>
</div> -->







<!-- New Approach Use Case 4 -->

<div class="card my-4 bg-light" *ngFor="let course of category">
<div class="container">
    <!-- <div> hello</div> -->
    <div class="row justify-content-between ">
        <div class="bg-info">
            <div class="container mb-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam explicabo, totam vero necessitatibus quos porro sunt ipsa magni similique laborum, amet obcaecati dolore recusandae provident exercitationem alias aliquam libero voluptatem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 p-5 ">
            <div class="container mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/vectors/photo-coming-soon-image-icon-vector-illustration-isolated-on-white-vector-id1193046540?k=20&m=1193046540&s=612x612&w=0&h=HQfBJLo1S0CJEsD4uk7m3EkR99gkICDdf0I52uAlk-8="
                        alt="Image goes here" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{course.courseName}}</h5>
                        <p class="card-text">
                            <small class="text-muted"><b>{{course.instructor}}</b></small>
                        </p>
                        <p class="card-text">{{course.instructorDetails}}</p>
                        <button class="btn btn-primary btn-block" (click) = "enrollCourse()">Enroll Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

