<!-- <p>admin works!</p>
<h1>Admin works</h1> -->


<div class="container my-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="card bg ">
            <div class="card-body">
              <form #uploadform="ngForm" (ngSubmit)="onSubmit(uploadform.value)" >
                <div class="form-group">
                  <label for="email">Category</label>
  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="email">
                        <i class="fa-solid fa-clipboard-list"></i>
                      </span>
                    </div>
                    <select  name="mail" id="email" class="form-control" placeholder="Category" required  ngModel #mail="ngModel">
                      <option value="Business">Business</option>
                      <option value="Design">Design</option>
                      <option value="IT">IT & Software</option>
                      <option value="Finance">Finance</option>
                      <option value="Development">Development</option>
                      <option value="Productivity">Office Productivity</option>

                    </select>
                  </div>
                  <div class="text-danger" *ngIf="mail.invalid && mail.touched">
                    Please enter a valid Category.
                  </div> 
                </div>
  
                <div class="form-group">
                  <label for="password">Course Name</label>
  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-book"></i>
                      </span>
                    </div>
                    <input type="text" name="pwd" class="form-control"  placeholder="Course Name" ngModel required  #pwd="ngModel" />
                  </div>
                  <div class="text-danger" *ngIf="pwd.invalid && pwd.touched">
                    Please enter the Course Name.
                  </div>
                </div>

                <div class="form-group">
                    <label for="iName">Instructor Name</label>
    
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="email">
                            <i class="fa-solid fa-person-chalkboard"></i>
                        </span>
                      </div>
                      <input type="text" name="iName" id="iName" class="form-control" placeholder="Instructor Name" aria-describedby="email" required  ngModel #iName="ngModel"/>
                    </div>
                    <div class="text-danger" *ngIf="iName.invalid && iName.touched">
                      Please enter the Instructor Name.
                    </div> 
                </div>

                <div class="form-group">
                    <label for="idetails">Instructor Detail</label>
    
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="email">
                            <i class="fa-solid fa-info"></i>
                        </span>
                      </div>
                      <textarea rows="1" name="idetails" id="idetails" class="form-control"  placeholder="Instructor Details" aria-describedby="email" required  ngModel #idetails="ngModel"></textarea>
                    </div>
                    <div class="text-danger" *ngIf="idetails.invalid && idetails.touched">
                      Please enter the Instructor Details.
                    </div> 
                </div>

                <div class="form-group">
                    <label for="overview">Course Overview</label>
    
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="email">
                            <i class="fa-solid fa-info"></i>
                        </span>
                      </div>
                      <textarea rows="1" name="overview" id="overview" class="form-control"  placeholder="Overview"  required ngModel #overview="ngModel"></textarea>
                    </div>
                    <div class="text-danger" *ngIf="overview.invalid && overview.touched">
                      Please enter the overview of the course.
                    </div> 
                </div>

                <div class="form-group">
                    <label for="duration">Duration</label>
    
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="email">
                            <i class="fa-solid fa-user-clock"></i>
                        </span>
                      </div>
                      <input type="text" name="durartion" id="duration" class="form-control"  placeholder="Duration" aria-describedby="email" required  ngModel #duration="ngModel"/>
                    </div>
                    <div class="text-danger" *ngIf="duration.invalid && duration.touched">
                      Please enter the duration of the course.
                    </div> 
                </div>

                <div class="form-group">
                  <label for="duration">Price</label>
  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price">
                        <i class="fa-solid fa-dollar-sign"></i>
                      </span>
                    </div>
                    <input type="text" name="price" id="price" class="form-control"  placeholder="Price" aria-describedby="email" required  ngModel #price="ngModel"/>
                  </div>
                  <div class="text-danger" *ngIf="price.invalid && price.touched">
                    Please enter the price of the course.
                  </div> 
              </div>


  
                <div class="form-group">
                  <button class="btn btn-outline-dark btn-block"  type="submit" name="submit">
                    <i class="fa-solid fa-cloud-arrow-up mr-1"></i>
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
