<div class="jumbotron md-block">
    <div class="container">
        <h1 class="display-4"><strong>Learn Without <br> Limits </strong></h1>
        <p class="top">Open your door to more with world-class Professional<br> Certificates and degrees</p>
        <button class="btn btn-lg btn-outline-info mt-3" routerLink="/login" *ngIf="!verifyService.loggedIn()">Log in</button>
        <button class="btn btn-lg btn btn-info mt-3 ml-2" routerLink="/register" *ngIf="!verifyService.loggedIn()">Register</button>
        <a class="btn btn-lg btn btn-info mt-3 ml-2" href="#top-cour" *ngIf="verifyService.loggedIn()">Explore Courses</a>
    </div>
</div>

<div class="bg-white mb-3 mt-3 pt-4 pb-4 text-center">
    <h3><strong>Trusted by companies of all sizes</strong></h3>
    <div class="mt-1"> 
        <img src="https://s.udemycdn.com/partner-logos/v4/nasdaq-dark.svg" class="rounded mr-2 ">
        <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" class="rounded ml-3">
        <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" class="rounded ml-3">
        <img src="https://s.udemycdn.com/partner-logos/v4/netapp-dark.svg" class="rounded ml-3 ">
        <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" class="rounded ml-3">
    
    </div>
</div>


<div class="container-fluid mt-3" id="top-cour">
    <p class="h5 my-3"><strong>Top Categories</strong></p>
    <div class=" container row  mx-auto">
    <div class="col-md">
        <a routerLink="course/Design">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="rounded  "></a>
        <h6 class="pt-2"><strong>Design</strong></h6>
        
    </div>
    <div class="col-md">
        <a routerLink="course/Development">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="rounded "></a>
        <h6 class="pt-2"><strong>Development</strong></h6>
        
    </div>
    <div class="col-md">
        <a routerLink="course/Business">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" class="rounded "></a>
        <h6 class="pt-2"><strong>Business</strong></h6>
        
    </div>


    <div class="col-md">
        <a routerLink="course/IT">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="rounded  "></a>
        <h6 class="pt-2"><strong>IT & Software</strong></h6>
        
    </div>
    <div class="col-md">
        <a routerLink="course/Finance">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="rounded "></a>
        <h6 class="pt-2"><strong>Finance</strong></h6>
        
    </div>
    <div class="col-md">
        <a routerLink="course/Productivity">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" class="rounded "></a>
        <h6 class="pt-2"><strong>Office Productivity</strong></h6>
        
    </div>
</div>
</div>

 <div class="container mx-auto row mb-3">
    <div class=" container col-md d-none d-md-block">
        <img src="assets/Above-Footer.jpg" alt="Image">
    </div>
    <div class="container col-sm">
        <p class="h1 font-weight-bold bottom ">Transform your life<br> through education</p>
        <p class="fsize top">Learners around the world are launching new <br>careers, advancing in their fields, and enriching <br> their lives.</p>
        <button class="btn btn-dark">Find out how</button>
    </div>
</div> 











