/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Poppins:ital,wght@1,300&family=Roboto+Slab:wght@500&family=Ubuntu:wght@300&display=swap');
 */

 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Poppins:ital,wght@1,300&family=Roboto+Slab&family=Source+Serif+Pro:wght@200;400&family=Ubuntu:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Bodoni&family=Merriweather:ital,wght@0,300;1,400&family=Poppins:ital,wght@1,300&family=Roboto+Slab&family=Source+Serif+Pro:wght@200;400&family=Ubuntu:wght@300&display=swap');
 h1{
    font-family:'Source Serif Pro', serif;
}

h3{
    font-family:'Libre Bodoni', serif;
}

/* .top{
    font-family:'Ubuntu', sans-serif;
} */

.bottom{
    
    font-family:'Libre Bodoni', serif;
}



body,html{
    height: 100%;
}